streamlit
numpy
pandas
scikit-learn
matplotlib
seaborn
streamlit_webrtc
opencv-python-headless
imutils
PILLOW
dlib-bin
click==8.0.4
av
gsheetsdb
streamlit-cropper
mediapipe

keras
keras-preprocessing
tensorflow
scikit-image
